@media screen and (max-width: 600px) {
    .menu4Button {
        margin-bottom: 0px;
    }

    .block-3-subhead {
        font-size: .7rem;

    }

    .block-date {
        font-size: .6rem;
    }
}

@media screen and (max-width: 665px) {
    #menu4P {
        margin-bottom: 10px;
    }
}