:root {
    --color-primary: #41b6e6;
    --color-secondary: #0072ce;
    --color-content-1: #ffffff;
    --color-content-2: #231f20;
    --color-content-3: #6d6e70;
    --color-content-4: #808080;
    --color-content-5: #61d4f7;
    --color-content-6: #002e5d;
    --color-shadow-1: #000000;
    --color-footer: #404041;
    --color-footer-border: #f4f0ea;
    --color-footer-sub-bg: #e6e7e8;
    --color-footer-sub: #59595c;
}