:root {
    --font-heading: 'Montserrat';
    --font-body: 'Roboto', ;

    --avenir-medium: 'avenirMed';
    --avenir-book: 'avenirBook';
    --avenir-roman: 'avenirRoman';
    --avenir-black: 'avenirBlack';
    --avenir-light: 'avenirLight';

}
