    .footer-area h6 {
        display: none;
    }

    .footer-area ul li a {
        font-size: .5rem;
    }

    .footer-part {
        border: none;
        padding-left: 0px;
    }

    #social-media h5 {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }

    #subscribe {
        display: block;
    }

    #sub-footer {
        font-size: .5rem;
    }