@media screen and (max-width: 300px) {
    .logo {
        width: 50px;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        width: 100px;
    }
}

@media screen and (max-width: 991px) {
    #navbarNav {
        margin-left: 10px;
    }
}

@media screen and (max-width: 991px) {
    .search-area {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        display: flex;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1170px) {
    .navbar-nav li {
        margin-right: 0px;
    }
}

@media screen and (max-width: 991px) {
    .search-icon {
        display: none;
    }
}

@media (max-width: 991px) {
    .custom-input {
        display: block;
        border: 2px solid var(--color-secondary);
        display: flex;
        text-align: center;
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    .custom-input {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #inputBox {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #inputBox {
        margin-left: -101px;
    }
}

@media screen and (max-width: 990px) {
    .search__input {
        box-shadow: 0px 4px 20px -1px var(--color-shadow-1);

    }
}

@media screen and (max-width: 991px) {
    .menuIcon {
        display: flex;
        justify-content: end !important;
    }
}

@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
   .brand-logo {
        margin-top: 30px;
    }
}
@media screen and (max-width: 900px) {
    .navBar{
        margin-top: -43px;
    }
 }